---

name: test

"on":
  push:
    branches:
      - master
    paths-ignore:
      - README*
      - LICENSE
  pull_request:
    paths-ignore:
      - README*
      - LICENSE

env:
  goversion: '1.18'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go:
          - '1.17'
          - '1.18'
          - '1.x'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go }}
      - run: go build
      - run: go install
      - run: go test -cover ./...

  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ env.goversion }}
      - name: Check code format
        run: |
          go mod download
          count="$(go fmt ./... | wc -l)"
          if [[ "$count" -ne 0 ]]; then
            echo "[ERR] 'go fmt ./...' してください" >&2
            exit 1
          fi

  docker-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Tests
        run: |
          make docker-build
          make docker-test

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ env.goversion }}
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.45

  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ env.goversion }}
      - run: go test -coverprofile=coverage.out ./...
      - uses: codecov/codecov-action@v4
